*.pyc
*.log
node_modules
coverage/
abac_permissions_demo/logs
abac_permissions_demo/export_deliverables
abac_permissions_demo/cantaloupe/*
abac_permissions_demo/staticfiles
abac_permissions_demo/media/packages
abac_permissions_demo/media/build/
abac_permissions_demo/uploadedfiles/*
abac_permissions_demo/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
